/* YOUR CUSTOM STYLES */

body {
    background-color:#212121;
}

h2 {
    color: #607d8b;
    text-align: center;
}

.col-md-6 {
    margin-top: 50px;
}

th {
    color: white;
}

.portfolioSymbol {
    color: green;
}

.perc {
    color: yellow;
}

.points {
    color:#ce93d8;
}

.name {
    color: #1de9b6;
}

.symbol {
    color: blue;
}

.cmp {
    color: yellow;
}

.ratio {
    color:#ce93d8;;
}

#chart_div {
    max-height: 165px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.portfolioSymbol {
    color: white;
}
.btn{
    border-radius: 30px;
}
.col-md-4{
    margin-top: 30px;
}
.text-yellow{
    color:yellow;
}