/* YOUR CUSTOM STYLES */

/* body {
    background-color:#212121;
} */


html, body{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    /* overflow-x: hidden; */
    /* background color here */
    /* background: linear-gradient(45deg,#00FCFC,#109CFF, #4408FF, #8208FF  ); */
    background-color:#212121;
}


.navbar{
    background-color: #0B2448;
    border-radius: 0px;
    border:0px;
    
}



.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
    color:#fff;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: #00FCFC;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    background-color: transparent;
    color: #00FCFC;
}




/* .navbar{
    height:50px;
}

.navbar-brand{
    font-size:18px;
}

.navbar-nav{
    font-size:0.9rem;
}

.navbar-nav .nav-link{
    padding: 10px 15px;
}
.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link{
    padding: 8px 15px;
} */
/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#userPoints{
    margin-top:30px;
}
h2 {
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.col-md-6 {
    margin-top: 50px;
}


th {
    color: white;
}

.portfolioSymbol {
    color: green;
}

.perc {
    color: yellow;
}

.points {
    color:#FCFCFC;
}


.name {
    color: #00FCFC;
}

.symbol {
    color: #4408FF;
}

.cmp {
    color: yellow;
}

.ratio {
    color:#8208FF;;
}

#chart_div {
    max-height: 165px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.portfolioSymbol {
    color: white;
}
.btn{
    border-radius: 30px;
}
.col-md-4{
    margin-top: 30px;
}
.text-yellow{
    color:yellow;
}
#userName{
    color:white;

}
a#userName:hover{
    color:#00FCFC;
}

#logout{
    color:white;

}


/* .navbar.navbar-dark .breadcrumb .nav-item .nav-link:hover, .navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover{
     color: #00FCFC;
     background-color: transparent;
 }

 .navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link{
    color: #00FCFC;
    background-color: transparent;
} */
 
/* .navbar {
    background: #0B2448;
} */
/* #space{
    padding-right:0px;
    padding-left:10px; 
}
.main-content{
    padding-top: 20px;
} */


.table-striped>tbody>tr:nth-of-type(odd){
    background-color: #2E2E2E!important
}

.table>tbody>tr>td{
    padding: 18px;
}

.table>thead>tr>th{
    padding: 10px;
    font-weight:lighter;
}

.table-striped>thead>tr>th{
    padding-left:18px;
}
/* --------------------------------------------------- */
                /* Footer Styling */
/* --------------------------------------------------- */
.myfooter{
    background-color: #0B2448 ;
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    padding: 30px 0 0 0;
    color:#fff;
    margin-top: 100px;
  }
  
 .myfooter p{
    font-weight: 200;
    font-size: 10px;
  }
  
 .myfooter h4{
    font-weight: 200;
    padding: 10px 0;
    color: #00FCFC ;
    font-size: 13px;
    letter-spacing: 0.1em;
  }
  
 footer a {
    color: #fff;
  }
  
 
 footer a:hover {
    color: #00FCFC ;
    text-decoration: none;
  }
  
 .fa {
    padding-right: 20px;
    padding-left: 2px;
    opacity: 0.8;
    transform: scale(1.15);
  
 }
  
 .socialbox{
    padding:0 50px;
    bottom: 0;
  }
  
 p.copyRight {
    padding: 10px 0;
    margin: 50px 0 0 0;
    background: linear-gradient(45deg,#00FCFC ,#109BFF , #4408FF , #8208FF )
  }