/* YOUR CUSTOM STYLES */

body {
    background-color: #212121;
}

h2 {
    color: #607d8b;
    text-align: center;
}
.col-md-4{
    margin-top:30px;
    margin-bottom:20px;
}
.col-md-6 {
    margin-top: 50px;
}

th {
    color: #ffa726;
}

.portfolioSymbol {
    color: limegreen;
}

.perc {
    color: yellow;
}

.points {
    color: red;
}

.name {
    color: #1de9b6;
}

.symbol {
    color: #00acc1;
}

.cmp {
    color: #ff4081;
}

.ratio {
    color: #c0ca33;
}

#chart_div {
    max-height: 165px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.portfolioSymbol {
    color: red;
}
.btn{
    border-radius: 30px;
}